<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1009767794564-f9ogvoh189vogpb0vhn332mv0ur367c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009767794564-f9ogvoh189vogpb0vhn332mv0ur367c8</string>
	<key>API_KEY</key>
	<string>AIzaSyCw_KqtAOzzj6U__i9YUt42WKnUt5HZShY</string>
	<key>GCM_SENDER_ID</key>
	<string>1009767794564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.Extractor</string>
	<key>PROJECT_ID</key>
	<string>extractor-app</string>
	<key>STORAGE_BUCKET</key>
	<string>extractor-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009767794564:ios:bb362d97cfa58f81</string>
	<key>DATABASE_URL</key>
	<string>https://extractor-app.firebaseio.com</string>
</dict>
</plist>